<!DOCTYPE html>
<html>
  <head>
    <title>Weather Application</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>{{> header}}</p>
    <img src="../../images/pic.png" />
    <h4>{{> footer}}</h4>
  </body>
</html>
