<!DOCTYPE html>
<html>
  <head>
    <title>Weather Application</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <bod>
    <h1>{{title}}</h1>
    <p>{{> header}}</p>
    <p>Help content here</p>
    <h4>{{> footer}}</h4>
  </body>
</html>
